    <div class="topnav">
      <a class="active" href="/home">Home</a>
      <a href="/book">Books</a>
      <a href="/genre">Genre</a>
      <div class="search-container">
        <form action="/book/:id/searchQuery" method="POST">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>