<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <%- include partials/formCSS.ejs %> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">     
    <title>Landing Page</title>
  </head>
  <body>
      <%- include partials/navbar.ejs %>
<div class="form">
    <div class="jumbotron container">
        <h1 class="text-center  ">BooShare inc.</h1> 
        <p class="text-center">E-BOOK Sharing Website </p> 
        <br><br>
      </div>

 <% if(!err) { %>
  <h1><%= err %></h1>
 <% } %>
  
  <h2> REGISTER </h2>
  <form action="/user/register" method="POST">
    
    <label for="lname">Username</label>
    <input type="text" id="username" name="username" placeholder="Your username..">

    <label for="country">Email</label>
    <input type="text" id="email" name="email" placeholder="email..">

    <label for="fname">Password : </label>
    <input type="password" id="password" name="password" placeholder="password..">
  
    <input type="submit" value="Submit">
  </form>

  <br>
  <h3> Have account? <a href="/user/login">LOGIN</a></h3>
</div>
<br>

<div class="footer">
  <%- include partials/footer.ejs %>
</div>
  </body>
</html>