<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include partials/formCSS.ejs %>      
    <title>Document</title>
  </head>
  <body>
<%- include partials/navbar.ejs %>
<div class="jumbotron container">
  <h1 class="text-center">BooShare inc.</h1> 
  <p class="text-center">Welcome to BooShare.</p> 
</div>

<div>
  <h2> REGISTER </h2>
  <form action="/user/register" method="POST">
    
    <label for="lname">Username</label>
    <input type="text" id="username" name="username" placeholder="Your username..">

    <label for="country">Email</label>
    <input type="text" id="email" name="email" placeholder="email..">

    <label for="fname">Password</label>
    <input type="text" id="password" name="password" placeholder="password..">
  
    <input type="submit" value="Submit">
  </form>
</div>
<br>
<div>
  <h2> LOGIN </h2>
  <form action="/user/login" method="POST">
    
    <label for="lname">Username</label>
    <input type="text" id="username" name="username" placeholder="Your username..">

    <label for="fname">Password</label>
    <input type="text" id="password" name="password" placeholder="password..">
  
    <input type="submit" value="Submit">
  </form>
</div>


<div class="footer">
  <%- include partials/footer.ejs %>
</div>
  </body>
</html>