<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
    .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 25px;
        width: 100%;
        color: #549DF7;
        text-align: center;
        background: white;
    }
    </style>  
    <%- include partials/formCSS.ejs %>      
    <title>Document</title>
  </head>
  <body>
<%- include partials/navbar.ejs %>
<div class="jumbotron container">
  <h1 class="text-center">BooShare inc.</h1> 
  <p class="text-center">Welcome to BooShare.</p> 
</div>

<div>
  <h2> REGISTER </h2>
  <form action="/register" method="POST">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Password</label>
    <input type="text" id="password" name="password" placeholder="">
  
    <input type="submit" value="Submit">
  </form>
</div>


<div class="footer">
  <%- include partials/footer.ejs %>
</div>
  </body>
</html>