<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<body>
    <%- include partials/navbarLogout.ejs%>
    <h1>My Reading List</h1>
  <% data.books.forEach(e => { %>
    <ul>
      <li><h3><%= e.title %></h3></li>
    </ul>
  <% }) %>
</body>
</html>